body {
	font-family: 'Cabin', sans-serif;
	background: url('../images/full-bloom.png') fixed;
}

.page-section, .fadeInStart {
  opacity: 0;
}
#opening {
	background: url('../images/img1.jpg') no-repeat center fixed;
}
#opening .jumbotron {
	margin-top: 100px;
	margin-bottom: 100px;
	background-color: rgba(255,255,255,0.7);
}
.navbar.scrolled {
	background: #1e90ff;
	transition: 0.5s;
}
.navbar {
	transition: 0.5s;
}
.navbar a {
	font-size: 18.5px;

}
hr {
	border-top: 1px solid #95a5a6;
	padding: 5px;
}
/*DESTINATION*/

#destination .card {
	border: none;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	margin-bottom: 15px;
	color: black;
	transition: 0.3s;
}

#destination .card:hover {
	border: none;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	margin-bottom: 15px;
	text-decoration: none;
	color: black;

}

#destination .card a {
	text-decoration: none;
}

#destination .card p {
	color: #2c3e50;
}

#destination h2 {
	font-family: 'Lobster', cursive;
}
/*GALLERY*/
#galeri h2{
	text-align: center;
	font-family: 'Lobster', cursive;
}
.container .gallery a img {
  float: left;
  width: 20%;
  height: auto;
  border: 2px solid #fff;
  -webkit-transition: -webkit-transform .15s ease;
  -moz-transition: -moz-transform .15s ease;
  -o-transition: -o-transform .15s ease;
  -ms-transition: -ms-transform .15s ease;
  transition: transform .15s ease;
  position: relative;
}

.container .gallery a:hover img {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -o-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  z-index: 5;
}

.container .gallery a.big img {
  width: 40%;
}
.clear {
  clear: both;
  float: none;
  width: 100%;
}

.page-section {
	padding: 25px;
}
.video {
position:relative;
padding-bottom:56.25%;
padding-top:30px;
height:0;
overflow:hidden;
}

#advantages {
	background: #ffffff;
	text-align: center;

}
#advantages i {
	font-size: 50px;
	padding: 25px;
	color: #ff4757;
	margin-bottom: 15px;
	transition: 0.3s;
}
#advantages p {
	color: #718093;
	margin-top: 15px;

}
#advantages i:hover {
	font-size: 50px;
	background: #ffffff;
	border: 2px solid #ff4757;
	padding: 25px;
	color: #ff4757;
	margin-bottom: 15px;
}

.video iframe, .video object, .video embed {
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
}
/*COUNT*/
#count {
	background-color: #ffffff;
}
#count h2 {
	font-family: 'Lobster', cursive;
}
#count i {
	font-size: 30px;
}
#count .counter-value {
	font-size: 40px;
}
#count .col-sm-6,.col-6 {
	margin-top: 10px;
	margin-bottom: 10px;
}
/*DESCRIPTION*/
#description {
	padding: 20px;
	background-color: #ffffff;
}
#description h3 {
	margin-bottom: 20px;
}
#description p {
	line-height: 1.7;
	color: #718093;
	font-size: 17.5px;
}
#description img {
	margin-bottom: 15px;
}

#review {
 	text-align: center;
 
 }

 #review h2 {
 	font-family: 'Lobster', cursive;
 }
#review img {
	margin-bottom: -50px;
}
#contact {
	background-color: #ffffff;
}

#contact button {
	margin-bottom: 20px;
}

#contact h2 {
	text-align: center;
	font-family: 'Lobster', cursive;
}

#contact iframe {
	border: 1px solid #bdc3c7; 
	border-radius: 5px;
	width: 100%;
	height: auto;
}
#copyright {
	color: #ffffff;
	background: #1e90ff;
	text-align: center;
	padding: 5px;
	padding-top: 15px;
}